.header {
  width: 100%;
  max-width: 980px;
  margin: 25px auto 0 auto;
  h1 {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .header__info {
    margin: 10px 0;
  }
  .login {
    display: inline-block;
    width: 70%;
    form {
      margin-bottom: 0;
    }
    &.greeting {
      font-weight: 700;
    }
  }
  .user-links {
    list-style: none;
    text-align: right;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 30%;
    li {
      margin: 0 0 0 8px;
      border-right: 1px solid black;
      display: inline-block;
      padding-right: 8px;
      a {
        text-decoration: none;
        color: #888;
        font-weight: 700;
        &:hover {
          color: #000;
        }
      }
      &:last-child {
        border: none;
      }
    }
  }
}