.online-players__module {
  display: inline-block;
  width: 50%;
  vertical-align: top;

  .challenge-box {
    background: #efefef;
    font-size: 110%;
    margin: 0 auto;
    border: thin solid #ccc;
    width: 60%;
    min-width: 200px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    span {
      font-weight: 700;
      margin: 10px auto;
      font-size: 200%;
    }
    .choices {
      display: block;
      position: relative;

    }
  }

  .player {
    font-size: 15px;
    padding: 7px 0;
    &:hover {
      transition: all 0.5s;
      color: red;
      cursor: pointer;
      i {
        transition: all 0.5s;
        color: red;
        cursor: pointer;
      }
    }
    i {
      display: inline-block;
      vertical-align: center;
      font-size: 35px;
      color: #fff;
    }
    .info {
      margin-left: 10px;
      display: inline-block;
    }
    .record {
      display: block;
    }
  }
}