.score-board {
  width: 50%;
  display: block;
  margin: 0 0 15px 0;
  > div {
    display: inline-block;
    text-align: center;
    width: 50%;
  }
  span {
    display: block;
    &.name {
      font-weight: 700;
      font-size: 30px;
    }
  }

  .player1-score .score {
    color: red;
    font-size: 40px
  }
  .player2-score .score {
    color: blue;
    font-size: 40px
  }
  .turn-message {
    width: 100%;
    text-align: center;
    font-weight: 700;
  }

}

.game-board__wrapper {
  width: 50%;
  display: inline-block;
}

.start-move {
  opacity: 0.3;
}

.game-board {
  width: 100%;
}

.board-col {
  display: inline-block;
  width: 10%;
  vertical-align: middle;
  margin-left: 3px;
}

.game-board__wrapper.player1 {
  .occupied.player1 {
    &:hover {
      cursor: pointer;
    }
  }
}

.game-board__wrapper.player2 {
  .occupied.player2 {
    &:hover {
      cursor: pointer;
    }
  }
}

.board-position {
  width: 100%;
  height: 60px;
  margin: 5px;
  border-radius: 5px;
  position: relative;
  background: radial-gradient(#ddd, #ccc, #777);
  text-align: center;
  line-height: 60px;
  font-weight: 700;
  > span {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    &.active {
      &:hover {
        background: radial-gradient(#aaa, #999, #666);
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}